body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#head {
  margin: 0px;
}

#main {
  background-color: white;
  flex: 1;
  overflow: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#content {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#navbar {
  display: flex;
  flex-direction: column;
  background-color: #2c2c2c;
  color: #2c2c2c;
  height: 60px;
  justify-content: center;
}

#name {
  color: #eaeaea;
  font-size: xx-large;
  margin: 0;
}

#navbar #menu-button {
  display: none;
  font-size: larger;
}

#navbar #menu-button:hover {
  cursor: pointer;
}

#navbar a {
  color: #eaeaea;
  text-decoration: none;
  font-size: 1.2em;
}

#navbar a:hover {
  color: #20c997;
}

#navlist {
  margin: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  color: white;
  padding: 0px;
}

.sidebar {
  position: fixed;
  right: -300px;
  background-color: #2c2c2c;
  height: calc(100vh - 80px);
  width: 250px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  transition: right 0.3s ease;
  z-index: 1000;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0;
}

.sidebar a {
  color: #eaeaea;
  text-decoration: none;
  font-size: 1.5em;
}

.sidebar a:hover {
  color: #20c997;
}

#sidebar-footer {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: medium;
  padding-bottom: 20px;
}

.sidebar.open{
  right: 0;
}

.overlay{
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 900;
  background: rgba(0, 0, 0, 0.5);
}

#home {
  display: flex;
  flex-direction: column;
  background-color: #eaeaea;
  border-radius: 20px;
  padding: 20px;
  height: 75vh;
  justify-content: center;
  align-items: center;
}

#home h1 {
  margin: 10px;
  align-self: center;
}

#home i {
  font-size: xx-large;
}

#home p {
  font-size: x-large;
  font-weight: 500;
}

#quote {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  max-width: 80%;
}

#about {
  display: flex;
  flex-direction: column;
  background-color: #eaeaea;
  border-radius: 20px;
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

#about h1 {
  text-align: center;
  font-size: 2em;
  margin: 10px;
}

#about p {
  font-size: 1.4em;
  margin: 10px;
  line-height: 40px;
  /* text-indent: 100px; */
  text-align: justify;
}

#about-content {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

#about-me {
  display: flex;
  flex: 0.8;
  flex-direction: column;
  margin: 10px;
}

#about-details {
  display: flex;
  flex-direction: row;
}
#about-details h3 {
  font-size: 1.4em;
  margin: 10px;
}

#education {
  flex: 0.5;
  margin: 10px;
  font-weight: 500;
  border-right: #2c2c2c solid 5px;
}

#education ul {
  list-style-type: square;
  font-size: 1.3em;
  line-height: 40px;
}

#internships {
  flex: 0.5;
  margin: 10px;
  font-weight: 500;
}
#internships p {
  font-weight: normal;
  font-size: 1em;
  line-height: 35 px;
  text-align: left;
}

#internships ul {
  list-style-type: square;
  font-size: 1.3em;
}

#about-photo {
  display: flex;
  flex: 0.2;
  justify-content: center;
  align-items: center;
  color: white;
}

#profile {
  width: 300px;
  height: 400px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
}

#skills {
  display: flex;
  flex-direction: column;
  background-color: #eaeaea;
  border-radius: 20px;
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

#skills h1 {
  font-size: 2em;
  align-self: center;
  margin: 10px;
  padding-bottom: 20px;
}

#skills-list {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 30px;
  margin: 10px;
}

#skill-box {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  background-color: #2c2c2c;
  color: #eaeaea;
}

#skill-box h5 {
  margin: 10px;
}

#skill-box p {
  margin: 10px;
}

.skill-icons {
  font-size: 3em;
}

#projects {
  display: flex;
  flex-direction: column;
  background-color: #eaeaea;
  border-radius: 20px;
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

#projects h1 {
  font-size: 2em;
  align-self: center;
  margin: 10px;
  padding-bottom: 20px;
}

#project-boxes {
  display: flex;
  gap: 75px;
  margin: 10px;
  overflow: scroll;
  scrollbar-width: none;
}

#project-box {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  align-items: center;
  background-color: #2c2c2c;
  padding: 10px;
}

#project-box h4 {
  margin: 10px;
}

#project-box p {
  margin: 10px;
}

#projects a {
  color: #eaeaea;
  text-decoration: none;
}

#projects a:hover {
  color: #20c997;
}

#project-box img {
  max-width: 250px;
  max-height: 250px;
  border-radius: 20px;
}

#contact {
  background-color: #eaeaea;
  border-radius: 20px;
  padding: 20px;
}

#contact h1 {
  font-size: 2em;
  justify-self: center;
  margin: 10px;
}

#contact-details ul {
  display: flex;
  flex-direction: column;
  margin: 10px;
  justify-self: center;
  align-self: center;
}

#contact-info {
  display: flex;
  width: 100%;
  gap: 5px;
}

#contact-info div {
  display: flex;
}

#contact-info p {
  font-size: 1.3em;
}

.contact-type {
  font-weight: 500;
}

footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #2c2c2c;
  color: white;
  justify-content: center;
  align-items: center;
}

footer p {
  margin: 0px;
}

footer a {
  color: white;
}

footer a:hover {
  color: #20c997;
}

#socials {
  display: flex;
  gap: 10px;
}

@media (max-width: 1000px) {
  .listelement {
    display: none;
  }

  #navlist {
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
  }

  #navbar #menu-button {
    display: inline;
  }

  #about {
    padding-left: 30px;
    padding-right: 30px;
  }

  #about-content {
    flex-direction: column-reverse;
  }

  #education ul {
    line-height: 20px;
  }

  #projects {
    padding-left: 30px;
    padding-right: 30px;
  }

  #project-boxes {
    gap: 30px;
  }

  #skills {
    padding-left: 30px;
    padding-right: 30px;
  }

  #skills-list {
    grid-template-columns: auto auto auto auto auto;
  }

  footer {
    display: none;
  }
}

@media (max-width: 480px) {
  #name {
    font-size: larger;
  }

  #navbar{
    height: 50px;
  }

  #navbar a {
    font-size: 0.75em;
  }

  .sidebar {
    width: 200px;
    height: calc(100vh - 50px);
  }

  .sidebar a {
    font-size: 1em;
  }

  .overlay{
    top: 50px;
  }

  #home {
    height: 80vh;
  }

  #home h1 {
    font-size: 1.2em;
  }

  #home i {
    font-size: larger;
  }

  #home p {
    font-size: large;
  }

  #about {
    padding-left: 10px;
    padding-right: 10px;
  }

  #about h1 {
    font-size: 1.2em;
  }

  #profile {
    width: 187.5px;
    height: 250px;
  }

  #about p {
    font-size: 1em;
    line-height: 30px;
    margin: 0px;
  }

  #about-details {
    flex-direction: column;
  }

  #about-details h3 {
    font-size: 1em;
  }

  #education {
    border: none;
  }

  #education ul {
    font-size: 1em;
  }

  #internships p {
    font-size: 1em;
    line-height: 20px;
  }

  #internships ul {
    font-size: 1em;
  }

  #projects {
    padding-left: 10px;
    padding-right: 10px;
  }

  #projects h1 {
    font-size: 1.2em;
  }

  #project-boxes {
    gap: 10px;
  }

  #project-box img {
    width: 150px;
    height: 150px;
  }

  #project-box h4 {
    font-size: small;
  }

  #project-box p {
    font-size: small;
  }

  #skills {
    padding-left: 10px;
    padding-right: 10px;
  }

  #skills h1 {
    font-size: 1.2em;
  }

  #skills-list {
    grid-template-columns: auto auto;
  }

  #contact h1 {
    font-size: 1.2em;
  }

  #contact-info p {
    font-size: 1em;
  }

  #contact-details ul {
    padding-inline-start: 0px;
  }

  footer {
    padding: 10px;
    gap: 5px;
  }

  footer p {
    font-size: small;
  }
}
